@CHARSET "UTF-8";
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
}

a:link,a:visited {
	display: block;
	height: 30px;
	width: 200px;
	font-weight: bold;
	color: #FFFFFF;
	/* 	background-color: #bebebe; */
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

/* a:hover,a:active { 
 	background-color: #cc0000; 
 } */