@CHARSET "UTF-8";
.nav {
	height: 480px;
	width: 120px;
	position:fixed;
	text-align: center;
	list-style-type: none;
	padding: 5px;
	background-color: aliceblue;
}

.li {
	height:12.5%;
}

.nav a {
	display:block;
	line-height:50px;
	text-decoration: none;
}
li:HOVER {
	background-color: lightyellow;
}